# The top level domain to serve from
DOMAIN_NAME=webgrip.test

# The subdomain to serve from
SUBDOMAIN=n8n

# DOMAIN_NAME and SUBDOMAIN combined decide where n8n will be reachable from
# above example would result in: https://n8n.webgrip.test

# Optional timezone to set which gets used by Cron-Node by default
# If not set New York time will be used
GENERIC_TIMEZONE=Europe/Amsterdam

N8N_ENCRYPTION_KEY=your_encryption_key

OPENAI_API_KEY=
TELEGRAM_API_KEY=

N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE=true
